@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: 'Roboto', cursive, sans-serif;
  color: #182F73;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #182F73;
}

ul {
  list-style-type: none;
}

.block-page {
  width: 100%;
}

.entete {
  width: 80%;
  height: 20hv;
  position: relative;
  margin: auto;
  padding: 1rem;
  background-attachment: fixed;
  background-image: url("images/pexels-pixabay-163185.jpg");
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  .entete {
    width: 100%;
  }
}

.entete__logo__grand {
  width: 60%;
  margin: auto;
  text-align: center;
}

.entete__logo__grand img {
  width: 50%;
  min-width: 200px;
  display: block;
  margin: auto;
}

.entete__logo {
  width: 40%;
  margin-left: -1rem;
  text-align: left;
}

.entete__logo img {
  width: 50%;
  min-width: 200px;
}

@media only screen and (max-width: 768px) {
  .entete__logo {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}

.entete__panier i {
  display: none;
}

@media only screen and (max-width: 768px) {
  .entete__panier i {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    padding: 0.7rem;
    font-size: 1.5rem;
    background: #99e2d0;
    border-radius: 0 0.5rem 0 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .entete__panier i:hover {
    background: #182F73;
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .entete__panier i:active {
    color: #182F73;
  }
}

.nav {
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .nav {
    width: 100%;
    margin: 0;
  }
}

.nav__btn {
  display: none;
}

.nav__label {
  display: none;
  width: 15wv;
  height: 30hv;
  font-size: x-large;
  color: #182F73;
  padding: 0.5rem 0.8rem;
}

@media only screen and (max-width: 768px) {
  .nav__label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1.5rem 0 0 0.6rem;
    background: #99e2d0;
    border-radius: 0 0.5rem 0 0.5rem;
  }
}

.nav__label:hover {
  cursor: pointer;
  background: #182F73;
  color: #fff;
}

.nav__label:active {
  color: #182F73;
}

@media only screen and (max-width: 768px) {
  .nav__menu {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 40%;
    margin-left: -40%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 1000;
  }
}

.nav__menu__list {
  list-style: none;
  background: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
  .nav__menu__list {
    background: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0.2rem;
    margin-left: 0.6rem;
  }
}

.nav__menu__list__link {
  display: block;
  padding: 1rem 1.25rem;
  text-decoration: none;
  color: #182F73;
  text-align: left;
  border-radius: 0 0.6rem 0.6rem 0;
  border-right: 2px solid #fff;
}

@media only screen and (max-width: 768px) {
  .nav__menu__list__link {
    background: #99e2d0;
    border-radius: 0 0.6rem 0 0.6rem;
    border-top: 1px solid #fff;
  }
}

.nav__menu__list a:hover {
  background: #182F73;
  color: #fff;
}

.nav__menu__list a:active {
  color: #182F73;
  background: #99e2d0;
}

@media only screen and (max-width: 768px) {
  .nav__btn:checked ~ .nav__menu {
    margin-left: 0;
  }
}

.boutique {
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
  background-color: rgba(219, 219, 219, 0.5);
}

@media only screen and (max-width: 768px) {
  .boutique {
    width: 100%;
  }
}

.boutique__heading {
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
  margin: 0.2rem auto;
}

@media only screen and (max-width: 768px) {
  .boutique__heading {
    font-size: 1.8rem;
  }
}

.boutique__subtitre {
  font-size: 1.8rem;
  text-align: center;
  width: 100%;
  margin: 0.2rem auto;
}

@media only screen and (max-width: 768px) {
  .boutique__subtitre {
    font-size: 1.4rem;
  }
}

.boutique__results {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .boutique__results {
    width: 100%;
    display: block;
  }
}

.produit-item {
  width: 30%;
  min-width: 250px;
  height: 270px;
  margin: 0.8rem;
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  background: #fff;
  border: 1px solid #182F73;
  border-radius: 0 0.6rem 0 0.6rem;
  -webkit-box-shadow: 0 3px 3px rgba(24, 47, 115, 0.6);
          box-shadow: 0 3px 3px rgba(24, 47, 115, 0.6);
}

@media only screen and (max-width: 768px) {
  .produit-item {
    width: 90%;
  }
}

@media only screen and (max-width: 991px) {
  .produit-item {
    width: 70%;
    margin: 1rem auto;
  }
}

.produit-item__img {
  width: 100%;
  height: 190px;
  border-radius: 0 0.6rem 0 0.6rem;
  position: relative;
  border: 1px solid #182F73;
  margin: 0;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .produit-item__img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

@media only screen and (max-width: 991px) {
  .produit-item__img {
    width: 100%;
  }
}

.produit-item__name {
  margin-top: 0.5rem;
}

.produit-item__price {
  font-size: 1rem;
}

.produit-item__bouton {
  position: absolute;
  bottom: -0.4rem;
  right: 1rem;
  border: 1px solid #182F73;
  border-radius: 0 0.3rem 0 0.3rem;
  background: #99e2d0;
  color: #182F73;
  font-size: 0.95rem;
  font-weight: 700;
  padding: 0.3rem;
  -webkit-box-shadow: 0 3px 3px rgba(24, 47, 115, 0.6);
          box-shadow: 0 3px 3px rgba(24, 47, 115, 0.6);
}

.produit-item__bouton:hover {
  cursor: pointer;
  background: #182F73;
  color: #fff;
}

.fichetec {
  width: 70%;
  margin: 1.5rem auto;
  padding: 0.5rem;
  border: 1px solid #182F73;
  border-radius: 0 0.8rem 0 0.8rem;
  -webkit-box-shadow: 0 3px 3px rgba(24, 47, 115, 0.6);
          box-shadow: 0 3px 3px rgba(24, 47, 115, 0.6);
}

@media only screen and (max-width: 768px) {
  .fichetec {
    width: 90%;
  }
}

.fichetec__appareil {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .fichetec__appareil {
    width: 100%;
  }
}

.fichetec .cameras-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .fichetec .cameras-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
}

.fichetec .cameras-item__img {
  width: 40%;
  margin-right: 0.5rem;
  border: 1px solid #182F73;
  border-radius: 0 0.8rem 0 0.8rem;
}

@media only screen and (max-width: 768px) {
  .fichetec .cameras-item__img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
    z-index: 10;
  }
}

.fichetec .cameras-item__bouton {
  position: absolute;
  bottom: -1.2rem;
  right: 1rem;
  border: 1px solid #182F73;
  border-radius: 0 0.3rem 0 0.3rem;
  background: #99e2d0;
  color: #182F73;
  font-size: 0.95rem;
  font-weight: 700;
  padding: 0.3rem;
  -webkit-box-shadow: 0 3px 3px rgba(24, 47, 115, 0.6);
          box-shadow: 0 3px 3px rgba(24, 47, 115, 0.6);
}

.fichetec .cameras-item__bouton:hover {
  cursor: pointer;
  color: #fff;
  background: #182F73;
}

.fichetec .cameras-item__name {
  font-size: 2rem;
}

.fichetec .cameras-item__titre {
  font-weight: 700;
  margin: 0.8rem 0 0.1rem 0;
}

.fichetec .cameras-item__descr {
  font-size: 0.9rem;
}

.fichetec .cameras-item__lenses {
  width: 40%;
  margin-top: 0.8rem;
  font-size: 1rem;
  text-align: right;
}

.fichetec .cameras-item__price {
  font-weight: 700;
  margin-top: 1rem;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .fichetec .cameras-item img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

.pied {
  width: 80%;
  margin: 0 auto 0.5rem auto;
  background-color: #99e2d0;
}

@media only screen and (max-width: 768px) {
  .pied {
    width: 100%;
    background-color: #99e2d0;
    padding: 1rem;
  }
}

.pied__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .pied__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pied__nav__lien {
  display: inline-block;
  color: #182F73;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  border-radius: 0 0.6rem 0 0.6rem;
}

@media only screen and (max-width: 768px) {
  .pied__nav__lien {
    margin: 0;
  }
}

.pied__nav__lien:hover {
  color: #fff;
  background: #182F73;
}

.pied__nav__lien:active {
  color: #182F73;
}

.panier {
  width: 100%;
  padding: 2rem;
}
/*# sourceMappingURL=style.css.map */